body main h1 {
    text-align: center;
}

body main h2 {
    text-decoration: underline;
}

body main img {
    float: right;
    margin-right: 10px;
}

iframe{
    margin: 40px;
}

#note {
    text-decoration: underline;
}

.clearFloat {
    clear: both;
}

#moreSoon {
    margin: 50px 250px;

}